html{
    min-height: 100%;
    overflow: hidden;
}

body{
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

.container{
    display: inline-block;
    margin: 20%;
}

.text{
    overflow: hidden;
    font-size: 3.6rem;
    font-weight: 700;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    animation: typing 4s steps(40,end) infinite;
}

@keyframes  typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }


}


